:root{
    --background: #2E0249;
    --middle-background: rgb(169, 16, 121);
    --border: rgb(87, 10, 87);
    --font:rgb(248, 6, 204);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Basic', serif;
    color: var(--font);
}

body,
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,200px);
    border: 10px solid var(--border);
    gap: 1px,
}

.game-cell{
    border: 10px solid var(--border);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.player-name{
    background-color: var(--border);
    border: 1px solid var(--font);
    color: var(--font);
    font-size: 30px;
    height: 50px;
}

.player-info{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 40px;
    font-weight: 900;
}

input[type="text"]::placeholder{
    color: var(--middle-background);
}

#start{
    width: 200px;
    height: 50px;
    background-color: var(--border);
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 5px;
    border: 1px solid var(--font);
}

#start:active{
    background-color: var(--font);
}

.playing{
    background-color: #5c328a;
}

.winner{
    background-color: #1b5234;
}

.loser{
    background-color: #702436;
}